.Institutions{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    min-height: 100vh;
    /* box-shadow: 6px 20px 10px black; */
}

.content-list-institutions{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 70px);
    
    background: #0a192f;
}